#contact {
  position: relative;
  background-color: #9055a2;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) -5px 5px, #a7ffff -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, #c64760 -20px 20px, rgba(0, 0, 0, 0.3) -25px 25px, #daea7a -30px 30px;
  min-height: 38rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

#contact h1 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#contact figure {
  display: flex;
  gap: 3rem;
}