footer {
  margin: 0 -100px;
  margin-top: 5rem;
  height: 3rem;
  background-color: #111111;
  color: #a7feff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid;
  border-bottom: 2px solid;
  cursor: default;
}

#about-footer {
  color: #c64760;
}

#portfolio-footer {
  color: #daea7a;
}

#contact-footer {
  color: #9055A2;
}

@media screen and (max-width: 570px){
  footer {
    display: none;
  }
}