@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Syne:wght@400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Syne', sans-serif;
  padding: 110px 100px;
  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000); 
  background: linear-gradient(to right, #434343, #000000); 
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
    padding-bottom: 130px; 
  }
}