@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Syne:wght@400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  padding: 110px 100px;
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  margin-left: 1rem;
  background-color: #111111;
}

.intro-body::-webkit-scrollbar-thumb {
  background-color: #a7ffff;
}

.about-body::-webkit-scrollbar-thumb {
  background-color: #c64760;
}

.portfolio-body::-webkit-scrollbar-thumb {
  background-color: #daea7a;
}

.contact-body::-webkit-scrollbar-thumb {
  background-color: #9055a2;
}

main {
  position: relative;
  animation: main-card 1s linear;
}

#loading {
  position: relative;
  top: 10rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

#error {
  position: relative;
  top: 50px;
  width: 80%;
  color: #ff1111;
  font-size: 2.5rem;
  min-height: 30rem;
}

@keyframes main-card {
  0% {
    top: -100px;
    right: -100px;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
    padding-bottom: 130px;
  }
}