@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Syne:wght@400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Syne', sans-serif;
  padding: 110px 100px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 570px) {
  body {
    padding: 10px;
    padding-bottom: 110px; 
  }
}